<div class="p-fluid p-mt-5">
  <form [formGroup]="loginForm">
    <div class="p-field p-col p-mb-2">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" pInputText>
    </div>
    <div class="p-field p-col p-mb-2">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" pInputText>
    </div>
    <div class="p-field p-col p-mb-2">
      <button pButton type="button" label="Zaloguj się" [disabled]="!loginForm.valid" (click)="emitSendForm()"></button>
    </div>
  </form>
</div>
